@use "base/variables" as v;
@use "base/mixins" as m;

.modal-lt {

  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  .formulario {
    max-width: 100rem;
    background-color: v.$blanco;
    padding: 2rem;
    margin: 0 auto;
   // transform: translateY(-30rem);
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
//opacity: 0;
    border-radius: 1rem;

    legend {
      font-size: 2rem;
      text-align: center;
      font-weight: bold;
      margin-bottom: 2rem;
      display: block;
    }

    input[type="text"],
    input[type="tel"],
    input[type="time"],
    input[type="number"] {
      border: 1px solid v.$gris;
      border-radius: 0.5rem;
    }
    .opciones {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
    }

    select {
      height: 4.14rem;
      border: 1px solid v.$gris;
      border-radius: 0.5rem;
    }
    .submit-nueva-cancha {
      @include m.boton(v.$verde, v.$blanco);
    }

    .cerrar-modal {
      @include m.boton(v.$naranja, v.$blanco);
    }
    &.animar {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
    }

    &.cerrar {
      transform: translateY(-200%);
      opacity: 0;
    }

    .horario {
      display: flex;
      justify-content: space-around;
    }

    .contenedor-dos {
      display: flex;
      gap: 2rem;

      .input-todo {
        width: 100%;
      }
    }
  }
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.contenedor-form {
  display: flex;
  gap: 2rem;
  .columna {
  }
}
